.logo {
    display: grid;
    gap: 4px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.logo img {
    height: 50px;
}

header {
    background-color: silver;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
.header__menu {
    display: flex;
    gap: 20px;
}