body {
  background-color: darkslateblue;
  color: #fff;
  margin: 0;
  font-family: sans-serif;
}
h1, h2, h3 {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px 50px;
}