body {
  background-color: darkslateblue;
  color: #fff;
}
h1, h2, h3 {
  margin: 0;
}

.promo {
  padding: 20px;
  border: 1px solid;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 40px;
  align-items: center;
}
.promo h3 {
  grid-row-start: 1;
}
.promo-pic {
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  background-image: url("./assets/images/promo1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}